@page
@using Common.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Northwind.Razor.Employees.Areas.CommonFeatures.Pages.EmployeesModel


<div class="row">
    <h1 class="display-2">Employees</h1>
</div>
<div class="row">
    @foreach (var e in Model.Employees)
    {
        <div class="col-sm-3">
            <partial name="_Employee" model ="e"/>
        </div>
    }
</div>